@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
jQuery(function($) {
	 	$('#searchButton').click(function() {
	 	    var searchString = $('#searchText').val();
	 		$.ajax({
                    url: '@Url.Action("Search","Search")',
                    type: 'GET',
                    data: { searchString: searchString },
                    success: function(results) {
                        $("#containerForResults").empty().append(results);
                    }
                });
	 	})
})
</script>
<html>
<head>
    <title>Поиск в сети</title>
</head>
<body>
<h1>Поисковик&nbsp;
    <input style="width: 600px;" name="searchText" id="searchText" type="text">
    <button class="btn" type="submit" id="searchButton">Найти</button>
</h1>
<div id="containerForResults">
@Html.Partial("SearchForResults", null);
</div>
</body>
</html>