@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Поиск в сети</title>
</head>
<body>
    <h1 class="h-searcher">
        Поисковик&nbsp;
        <input class="inputSearchText" name="searchText" id="searchText" type="text">
        <button class="btn_submit" type="submit" id="searchButton" onclick="onClickSearchButton('@Url.Action("Search","Search")', '', 1)">Найти</button>
    </h1>
    <div id="containerForResults">
    </div>
</body>
</html>